#deals .row {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#deal {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}

#promoCodeDisplay, #priceDisplay, #descriptionDisplay {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#look {
     position: absolute;
     top: 70%;
     left: 60%;
 }

form {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
}